trigger: none   

pr:
  branches:
    include:
      - dev

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Use Node.js'

  - script: npm ci
    displayName: 'Install dependencies'

  - script: npm run lint:js
    displayName: 'Lint JavaScript'

  - script: npm run lint:scss
    displayName: 'Lint SCSS'
